:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  --main-background: #dadada;
  --primary-colour: #33475b; /* headers, primary buttons, and important elements */
  --secondary-colour: #7ea3af; /* buttons, highlights, and call-to-action elements */
  --background-colour: #f0f0f0;  /* background of cards, forms, and sections */
  --text-colour: #333333; /* content, headings, and descriptions */
  --accent-colour: #48a89d; /* used sparingly for accents like icons, borders, and focus states */
  --success-colour: #4caf50;
  --warning-colour: #ff9800;
  --error-colour: #f44336;
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background: #181818;
    --primary-colour: #1e1e1e; /* headers, primary buttons, and important elements */
    --secondary-colour: #444444; /* buttons, highlights, and call-to-action elements */
    --background-colour: #575757; /* background of cards, forms, and sections */
    --text-colour: #ffffff; /* content, headings, and descriptions */
    --accent-colour: #64ffda; /* used sparingly for accents like icons, borders, and focus states */
    --success-colour: #4caf50;
    --warning-colour: #ff9800;
    --error-colour: #f44336;
  }
}

body {
  background: var(--main-background);
  color: var(--text-colour);
}